body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFD700; /* Цвет фона заголовка (цвет Макдоналдса) */
    padding: 10px;
    text-align: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s;
}

.item img {
    max-width: 100%;
    border-radius: 5px;
}

.item h2 {
    margin: 5px 0;
}

.item p {
    font-size: 14px;
    margin: 5px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #FF4500; /* Цвет цены (оранжевый) */
}

.item:hover {
    transform: scale(1.05);
}

