body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    text-align: center;
    margin: 20px 0;
}

.category-btn {
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.category-btn:hover {
    background-color: #0056b3;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    overflow: hidden;
}

.item img {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.item h2 {
    font-size: 20px;
    margin: 10px;
}

.item p {
    margin: 10px;
    color: #555;
}

.item .price {
    display: block;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.item-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.item-details-content {
    max-width: 400px;
    margin: 0 auto;
}

.close-details {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

.close-details:hover {
    background-color: #0056b3;
}

