body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
}

nav {
    text-align: center;
}

.category-btn {
    font-size: 16px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s;
    cursor: pointer;
}

.item img {
    max-width: 100%;
    border-radius: 5px;
}

.item h2 {
    margin: 5px 0;
}

.item p {
    font-size: 14px;
    margin: 5px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #FF4500; 
}

.item:hover {
    transform: scale(1.05);
}


.close-details {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.close-details:hover {
    background-color: #0056b3;
}



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1000; /* Перекрывает все остальные элементы */
}

.item-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* На один выше overlay */
}

.item-details-content {
    max-width: 400px;
    margin: 0 auto;
}

.close-details {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

.close-details:hover {
    background-color: #0056b3;
}